*{
	margin: 0;
	padding: 0;
}

/*
*
*
Estilo para o conteúdo do nosso site
*
*
*/

html,body{
	height: 100%; 
}

.center{
	width: 1080px;
	margin: 0 auto;
	background-color: grey;

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.artigo{
	width: 100%;
	margin: 0 0 40px;
}