/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/hello-word/nbproject/private/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 01 - Lógica/nbproject/private/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 01 - Lógica/build/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 02 -/nbproject/private/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 02 -/build/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 02 - Class/nbproject/private/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 02 - Class/build/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 02 - Class - Copia/build/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 02 - Class - Copia/nbproject/private/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 03 -/build/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Projeto 03 -/nbproject/private/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Exercício prático #1 - Java/nbproject/private/
/Curso Lógica de Programação/Módulos/Módulo 5 - Exercícios práticos - Java/Exercício prático #1 - Java/build/