section.veiculos-destaque{
	padding: 50px 2%;
	width: 100%;
}

section.veiculos-destaque .container{
	max-width: 1000px;
	padding: 40px 0;
}
.vitrine-destaque{
	float: left;
	width: 33.3%;
}

.vitrine-destaque .carro-img{
	width: 100%;
	padding-top: 100%;
	border: 8px solid white;
	background-size: 100% 100%;
}
.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}

.vitrine-destaque p{
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
	padding-top: 8px;
}
.vitrine-destaque a{
	margin-left: 8px;
	margin-top: 10px;
}