*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}

html,body{
	height: 100%;
}

.box{
	border:1px solid black;
	width: 33.3%;
	height: 300px;
	background-color: green;
	float: left;
}
/* 
768PX DE WIDTH E 500PX DE HEIGHT

@media screen and (max-width: 768px) and (max-height: 500px){
	.box{
		width: 100%;
	}
} 
*/
/* 
768PX DE WIDTH OU 500PX DE HEIGHT

@media screen and (max-width: 768px) , screen and (max-height: 500px){
	.box{
		width: 100%;
	}
} 
 */
/* 
@media screen and (max-aspect-ratio: 2/1){
	.box{
		width: 100%;
	}
 }
*/

@media screen and (min-aspect-ratio: 2/1){
	.box{
		width: 100%;
	}
 }