<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <h2><a href="/"><span style="font-weight: lighter;">VSCoder</span><b>News</b></a></h2>
            </div><!-- Logo -->
            <div class="form-busca">  
                <form action="/" method="GET">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="busca..." name="busca">
                </form>
            </div><!-- Formulário de busca -->
        </div><!-- Center -->
    </header>