<h3>AS MAIS LIDAS</h3>
<div class="mais-lidas-noticias">
    <% for(var i = 0; i < posts.length; i++){ %>
        <div class="mais-lida-noticia-single">
            <img src="<%= posts[i].image %>" alt="">
            <div class="text-plus-lida-single">
                <h4 style="color: #40BE65;"><%= posts[i].categoria %></h4>
                <%- posts[i].descricaoCurt %>
                <div class="link-contain">
                    <a href="<%= posts[i].slug %>">saiba mais <i class="bi bi-arrow-return-right"></i></a>
                </div>
            </div>
        </div>
    <% } %>
</div>