<%- include('partials/header.html') %>
    <section class="outras-noticias busca">
        <div class="title-outras-noticias">
            <h2>Busca: </h2>
            <div class="center">
                <div style="width: 100%;" class="mais-lidas">
                    <h3>33 Resultados encontrados</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/NATUREZA1.png" alt="">
                            <div class="text-plus-lida-single">
                                <h4 style="color: #40BE65;">NATUREZA</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                <div class="link-contain">
                                    <a href="/encarar-o-surf">saiba mais <i class="bi bi-arrow-return-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/MUNDOANIMAL.png" alt="">
                            <div class="text-plus-lida-single">
                                <h4 style="color: #D9A34A;">MUNDO ANIMAL</h4>
                                <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção.</p>
                                <div class="link-contain">
                                    <a href="/encarar-o-surf">saiba mais <i class="bi bi-arrow-return-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/TECNOLOGIA.png" alt="">
                            <div class="text-plus-lida-single">
                                <h4 style="color: #FF4967;">TECNOLOGIA</h4>
                                <p>O impacto do uso de fones de ouvido a longo prazo. Descubra como esse dispositivo pode afetar sua audição sem você nem perceber.</p>
                                <div class="link-contain">
                                    <a href="/encarar-o-surf">saiba mais <i class="bi bi-arrow-return-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/LIFESTYLE.png" alt="">
                            <div class="text-plus-lida-single">
                                <h4 style="color: #40BE65;">LIFESTYLE</h4>
                                <p>Fazer uma viagem sempre é um momento incrível para a família. Descubra os melhores destinos para 2021.</p>
                                <div class="link-contain">
                                    <a href="/encarar-o-surf">saiba mais <i class="bi bi-arrow-return-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('partials/footer.html') %>