<%- include('partials/header.html') %>
    <section class="noticia-destaque">
        <div class="center">
            <a href="<%= posts[0].slug %>">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="autor-testaque">
                        <img src="<%= posts[0].img_autor %>" alt="">
                        <p>Por <%= posts[0].nome_autor %></p>
                    </div>
                    <div class="title-destaque-descricao">
                        <h2>
                            <%= posts[0].titulo %>
                        </h2>
                        <p>
                            <%- posts[0].descricaoCurt %>
                        </p>
                    </div>
                    <img src="<%= posts[0].image %>" alt="">
                </div>
            </a>
        </div>
    </section>
    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Últimas publicações</h2>
            <div class="center">
                <div class="ultimas">
                    <% for(var i = 1; i < posts.length; i++){ %>
                        <div class="box-ultima-single">
                            <img src="<%= posts[i].image %>" alt="">
                            <h3><%= posts[i].categoria %></h3>
                            <h2><%= posts[i].titulo %></h2>
                            <%- posts[i].descricaoCurt %>
                            <div class="link-contain">
                                <a href="<%= posts[i].slug %>">ler mais <i class="bi bi-arrow-return-right"></i></a>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="mais-lidas">
                    <%- include('partials/mais-lidas.html') %>
                </div>
            </div>
        </div>
    </section>
<%- include('partials/footer.html') %>