<%- include('partials/header.html') %>
    <section class="noticia-destaque">
        <div class="center">
            <a href="/destaque">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="autor-testaque">
                        <img src="/public/images/IMAGEM.png" alt="">
                        <p>Por Valdean Souza</p>
                    </div>
                    <div class="title-destaque-descricao">
                        <h2>
                            Quer fugir das praias de verão?
                        </h2>
                        <p>
                            Veja os melhores destinos para uma viagem a dois, com seu grupo ou até mesmo sozinho. Aproveite o calor longe das praias, curta lagos, cachoeiras e muito mais nesses destinos incríveis.
                        </p>
                    </div>
                    <img src="/public/images/IMAGEM.png" alt="">
                </div>
            </a>
        </div>
    </section>
    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Últimas publicações</h2>
            <div class="center">
                <div class="ultimas">
                    <div class="box-ultima-single">
                        <img src="/public/images/noticia.png" alt="">
                        <h3>DICA DE AVENTURA</h3>
                        <h2>Como encarar o surf mesmo no frio</h2>
                        <p>
                            A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.
                        </p>
                        <div class="link-contain">
                            <a href="/encarar-o-surf">ler mais <i class="bi bi-arrow-return-right"></i></a>
                        </div>
                    </div>
                    <div class="box-ultima-single">
                        <img src="/public/images/noticia.png" alt="">
                        <h3>DICA DE AVENTURA</h3>
                        <h2>Como encarar o surf mesmo no frio</h2>
                        <p>
                            A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.
                        </p>
                        <div class="link-contain">
                            <a href="/encarar-o-surf">ler mais <i class="bi bi-arrow-return-right"></i></a>
                        </div>
                    </div>
                    <div class="box-ultima-single">
                        <img src="/public/images/noticia.png" alt="">
                        <h3>DICA DE AVENTURA</h3>
                        <h2>Como encarar o surf mesmo no frio</h2>
                        <p>
                            A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.
                        </p>
                        <div class="link-contain">
                            <a href="/encarar-o-surf">ler mais <i class="bi bi-arrow-return-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="mais-lidas">
                    <%- include('partials/mais-lidas.html') %>
                </div>
            </div>
        </div>
    </section>
<%- include('partials/footer.html') %>