<%- include('partials/header.html') %>
    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2><%= noticia.titulo %></h2>
                <div class="autor-nome">
                    <img src="<%= noticia.img_autor %>" alt="">
                    <p>Por <%= noticia.nome_autor %></p>
                </div>
                <div class="img-noticia-single">
                    <img src="<%= noticia.image %>" alt="">
                </div>
                <%- noticia.conteudo %>
            </div>
            <div class="mais-lidas">
                <%- include('partials/mais-lidas.html') %>
            </div>
        </div>
    </section>
<%- include('partials/footer.html') %>